@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

.w_auto_image {
  width: auto;
  height: auto;
}

.container__padding {
  @apply px-4 sm:px-8 md:px-16 lg:px-28 xl:px-32 2xl:px-36
}

.text-theme-dark {
  @apply dark:text-white
}

.border_bottom {
  @apply border-secondary_gray dark:border-light_gray border-b
}

.border_top {
  @apply border-secondary_gray dark:border-light_gray border-t
}

.mobile_link_background {
  @apply cursor-pointer fill-primary_black dark:fill-primary_gray
}

*{
  @apply transition duration-300 ease-in-out text-primary_black dark:text-primary_gray
}

body {
  @apply dark:bg-gradient-to-r dark:from-moreDarked_gray dark:to-darked_purple bg-white  
}

section {
  @apply w-full mt-48 max-md:mt-52 text-theme-dark mb-28 container__padding
}

p {
  @apply text-sm dark:text-gray-300 text-paragraph
}
