@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 3, 0, 19;
    --background-end-rgb: 3, 0, 19;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero-image-container {
  position: relative;
  overflow: hidden;
}

.hero-image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px; /* Adjust the height as needed */
  background: linear-gradient(to top, rgba(3, 0, 19, 0.5), rgba(3, 0, 19, 0));
}

.hero-image-container img {
  position: relative;
  z-index: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.padding {
  @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24 p-5
}

.container__padding {
  @apply px-8 sm:px-12 md:px-16 lg:px-20 xl:px-24 2xl:px-28
}

section {
  @apply my-32 
}

p {
  @apply text-sm text-slate-500
}