@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

.w_auto_image {
  width: auto;
  height: auto;
}

.nav__background {
  @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24 pt-5 
}

.nav__background {
  @apply bg-primary_gray dark:bg-darked_gray dark:bg-opacity-90 dark:backdrop-blur-2xl
  bg-opacity-90 backdrop-blur-2xl
}

.title__background {
  @apply bg-zinc-300 dark:bg-moreDarked_gray dark:bg-opacity-90 dark:backdrop-blur-2xl
  bg-opacity-90 backdrop-blur-2xl
}

.container__padding {
  @apply px-8 sm:px-12 md:px-16 lg:px-20 xl:px-24 2xl:px-28
}

.text-theme-dark {
  @apply dark:text-white transition duration-500 ease-in-out;
}

.border_bottom {
  @apply border-secondary_gray dark:border-light_gray border-b
}

.border_top {
  @apply border-secondary_gray dark:border-light_gray border-t
}

.mobile_link_stroke {
  @apply text-gray-500 dark:text-primary_gray
}

.mobile_link_background {
  @apply cursor-pointer dark:fill-secondary_purple fill-secondary_gray border-primary_purple 
  transition duration-150 ease-in-out
}

body {
  @apply dark:bg-gradient-to-l dark:from-primary_black dark:to-darked_gray bg-gradient-to-l
   from-white to-primary_gray transition duration-500 ease-in-out
}

section {
  @apply mt-48 max-md:mt-52 text-theme-dark mb-28 
}

p {
  @apply text-sm dark:text-gray-300 text-paragraph transition duration-500 ease-in-out
}
