/* Certificate section */

#certificate_accordion {
    margin-top: 3rem;
}

.accordion_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFB;
    filter: drop-shadow(0 5px 5px #dddddd);
    padding: 1rem;
    transition: filter 0.3s ease;
    margin-top: 1.6rem;
    border-radius: .5rem;
}

.accordion_container:hover {
    filter: drop-shadow(0 8px 8px #c5c5c5);
}

.certificate_title {
    font-size: 0.875rem;
}

.certificate_link {
    border: none;
    padding: 1rem;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #000;
}

@media (min-width: 768px) {
    .certificate_title {
        font-size: 1rem;
    }

    .accordion_container {
        flex-direction: row;
    }
    .certificate_link {
        width: 40%;
    }
}